@font-face {
    font-family:'Neue Haas Thin';
    src: url('/public/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThin.ttf') format('truetype');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.display {
    font-family: 'Neue Haas Thin';
    display: flex;
    align-items: center;
    gap: 20px;
}

.display:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Neue Haas Thin';
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.username {
    font-family: 'Neue Haas Thin';
    font-size: 0.9rem;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.logout-button:hover {
  background-color: #fff;
  color: #000;
}




